import { stripe } from "$lib/stripe";
import { json } from "@sveltejs/kit";
import type { RequestHandler } from "./$types";

export const POST: RequestHandler = async ({ request }) => {
  const { customerId } = await request.json();
  const appUrl = process.env.APP_URL ?? "{{ app_url }}";
  const session = await stripe.billingPortal.sessions.create({
    customer: customerId,
    return_url: `${appUrl}/account`,
  });
  return json({ url: session.url });
};
