[run]
source = apps
omit =
    */migrations/*
    */tests/*
    */management/commands/*
command = manage.py test apps.accounts apps.api_transfer apps.runs apps.diagnostics apps.core apps.deploy apps.vault apps.projects apps.stripe_core apps.billing apps.organizations

[report]
fail_under = 30
show_missing = true
skip_covered = false
