import { stripe } from "~/[[ lib ]]/stripe";

export default defineEventHandler(async (event) => {
  const { customerId } = await readBody(event);
  const appUrl = process.env.APP_URL ?? "[[ app_url ]]";
  const session = await stripe.billingPortal.sessions.create({
    customer: customerId,
    return_url: `${appUrl}/account`,
  });
  return { url: session.url };
});
