<?php

use App\Http\Controllers\StripeController;
use Illuminate\Support\Facades\Route;

Route::prefix('stripe')->group(function () {
    Route::post('webhook', [StripeController::class, 'webhook']);
    Route::post('checkout', [StripeController::class, 'checkout']);
    Route::post('portal', [StripeController::class, 'portal']);
});
